html {
  height: 100%;
  width: 100%;
}
body{
    font-family: cursive;
    background-color: black;
    color: white;
}
h1{
  color: #72dfa3;
  text-decoration: line-through;
}
a{
  color: #8af5f5;
  text-decoration: underline;
}
a:hover{
  color: #063ae5;
  font-size: 105%;
}

ul li:before{
  content: "🖼️";
}
p::first-letter{
  color: rgb(70, 201, 76);
}
p{
  color: #6ab97e;
}
h1 + p{
  font-weight: bolder;
}
ul li:nth-child(1){
  font-weight: bold;
}

.sendhelp{
  width: 400px;
  background-color: #d5f0d1;
  border: 20px solid #84da81;
  padding: 10px ;
  margin: 60px ;
}
.sendhelp2{
  width: 400px;
  background-color: #8ecca3;
  border: 10px solid #337c37;
  padding: 20px ;
  margin: 70px ;
}
img#oh1{
  float:right
}
img#oh2{
  float:left
}

        div{
            right: 30px;
            border: 3px solid #73ad21;
            
        }
        div.absolute{
            position: absolute;
            left: 50px;
            border: 3px solid blue;
        }
        div.relative{
            position: relative;
            left: 100px;
            border: 3px solid #73ad21;
        }
        div.fixed{
            position: fixed;
            bottom: 0;
            right: 30px;
            width: 380px;
            border: 3px solid #73ad21;
        }
        div.sticky{
            position: sticky;
            top: 1px;
            left: 20px;
            width: 603px;
            border: 3px solid #73ad21;
    }
.col{
                text-align: center;
                border: 1px solid black;
            }
            
